<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Listado productos</title>
    <script src="/socket.io/socket.io.js"></script>  
    <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="/main.js"></script>
  </head>
  <body>

    <!-- Optional JavaScript; choose one of the two! -->
    
    </div>
    <div>
        <div id="mensajes" style="width:800px; height:300px; overflow: scroll;">
    </div>
    <div class="container pt-3">
      <div class="row  d-flex justify-content-center ">
        <div class="col-10 pb-3">
          <form onsubmit="return addMensaje()">
            <div class="row g-4">
              <strong> Escriba su correo para chatear</strong>
              <div class="col-3">
                <input type="text" name="email" class="form-control" placeholder="pepito@ejemplo.com" aria-label="Email" id="email">
              </div>
              <div class="col-sm">
                <input type="text" name="opinion" class="form-control" placeholder="su mensaje" aria-label="opinion" id="opinion">
              </div>
              <div class="col-1">
                <input type="submit" class="btn btn-primary" value="send">
              </div>
          </form>
        </div>
      </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  
  </body>
</html>