<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Registrarse</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/signup">
                    <div class="form-group">
                        <input class="form-control" name="email" type="email" placeholder="Insert email" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" name="password" type="password" placeholder="Insert password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" name="adress" type="text" placeholder="Insert Adress" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" name="age" type="number" placeholder="Insert Age" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" name="prefix" type="text" placeholder="Insert Number Prefix" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" name="telephone" type="text" placeholder="Insert Number Telephone" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
    
© 2022 GitHub, Inc.
Terms
Privacy
Security
